@import "bourbon/bourbon.scss";

/*Variables*/
$basefont: Oswald;
$basesize: 40px;

/*Classes*/
.love{
  font-size: 41px;
  font-family: $basefont;
  @media screen and (max-width: 320px){
    font-size: 30px;
    width: 75%;
    @include margin(0px 0px 0px 0px);
  }
}
.loves{
  font-size: 10px;
  float: left;
  margin-top: 19px;
  @media screen and (max-width: 320px){
    float: none;
    color: grey;
    text-transform: underline;
  }
}
.bottom{
  color: black;
  @include position(relative, null null -200px null);
  font-family:$basefont;
  font-size:30px;
}
.bottomm{
  color: white;
  @include position(relative, null null -200px null);
  font-family:$basefont;
  font-size:30px;
}
.img3{
  border-radius: 50%;
  margin-right: 0 50px;
  float: left;
  @media screen and (max-width: 320px){
    display: none;
  }
}
.img2{
  border-radius: 50%;
  @include margin(50px 200px null null);
  float:right;
  border: solid black 3px;
  @media screen and (max-width: 320px){
    margin-right: 130px;
  }
}
.right{
  float:right;
  width: 25%;
  @include margin(0px 125px null null);
  padding-bottom: 10px;
  font-family: $basefont;
  @media screen and (max-width: 320px){
    display: none;
  }
}
.dolphinpictures{
  display: inline-block;
  height: 300px;
  width: 25%;
  margin: 0;
  background-size: cover;
  float: left;
}

/*CSS PROPERTIES*/
body{
  @include margin(0 auto null null);
  width: 100%;
}
header{
height: 500px;
width: 100%;
@include position(relative, -55px 0 0 0);
background-image: url("http://cl.ly/image/160O161i1h40/Image%202014-06-07%20at%206.35.38%20PM.png");
background-size: cover;
@media screen and (max-width: 320px){
  height: 300px;
  padding-right: 10px;
  padding-left: 10px;
  @include margin(null null null 0px);
}
  p:first-child{
    float:left;
    font-size:20px;
    font-family: $basefont;
    color:black;
    @include margin(0 0 0 40px);
    @media screen and (max-width: 320px){
      margin: 0 0 0 0px;
      display: none;
    }
  }
  p:nth-child(2){
    float:right;
    font-size: 20px;
    font-family: $basefont;
    color: black;
    @include margin(0 40px 0 0);
    @media screen and (max-width: 320px){
      @include margin(0px 0px 0px 0px);
      text-align: center;
      float: none;
    }
  }
  h1{
    font-family: $basefont;
    font-size: 80px;
    color: white;
    text-align: center;
    @media screen and (max-width: 320px){
      color: white;
      @include margin(100px null null 35px);
      font-size: 30px;
      text-align: center;
      width: 80%;
    }

  }
  #IYA{
    font-size: 20px;
    color: black;
    font-family: $basefont;
    @include margin(null null null 450px);
    @media screen and (max-width: 320px){
      @include margin(0 50px null null);
      float: left;
      color: white;
      font-size: 10px;
    }
  }
}
#section{
width: 35%;
float: left;
@include margin(null null null 100px);
@media screen and (max-width: 320px){
  @include margin(null 100px null 0);
  width: 75%;
  float: left;
}
  h2{
    @extend .love;
  }
  h3{
    @extend .loves;
    span{
      color: blue;
    }
  }
  article{
    font-size: 15px;
    font-family: $basefont;
  }
  #quote{
    font-size: 40px;
    font-family: $basefont;
    color: darkblue;
    @include position(relative, 0px null null null);
  }
  #ref{
    font-size: 10px;
    font-family: Impact;
    color: darkblue;
    text-align: center;
    @include position(relative, 0);
  }
  #image1{
    @extend .img3
  }
  #comment-bar-mobile{
    display: none;
    @media screen and (max-width: 320px){
      display: inline;
      width: 75%;
      @include margin(10px null null 0);
    }
  }
  #comment-bar{
    width: 400px;
    height: 20px;
    @media screen and (max-width: 320px){
      width: 200px;
      display: none;
    }
  }
}
aside{
  #image2{
    @extend .img2
  }
  #identity{
    float: right;
    @include position(relative, 150px -120px null null);
    color: blue;
    @media screen and (max-width: 320px){
        @include margin(-50px 200px null 0);
    }
  }
  nav{
    @include position(relative, 170px null null 450px);
    list-style: inline;
      @media screen and (max-width: 320px){
        display: inline-block;
        @include position(relative, 0 null null 0);
      }
    ul{
      @include position(relative, 30px 80px null null);
      li{
        display: inline;
        @media screen and (max-width: 320px){
          @include margin(0px 5px null null);
          float: left;
          list-style: none;
        }
        a{
          text-decoration: none;
          color: gray;
        }
      }
    }
  }
  #advert{
    @include margin(100px null null 300px);
    @media screen and (max-width: 320px){
      width: 320px;
      @include position(relative, null 300px null null);
    }
  }
  #ad{
    @include position(relative, 30px 100px null null);
    @media screen and (max-width: 320px){
      text-align: left;
      text-decoration: underline;
      color: grey;
      margin-left: 200px;
    }
  }
  h2{
    color: darkblue;
    font-family: $basefont;
    text-transform: underline;
    margin-top: 32px;
    float: right;
    margin-right: 190px;
    @media screen and (max-width: 320px){
      display: none;
    }
  }
  #right-sidebar-text{
    @extend .right;
  }
}

div{
  p{
    @include position(relative, 100px null null null);
    font-size: 100px;
    text-align: center;
    font-family: $basefont;
    @media screen and (max-width: 320px){
      font-size: 30px;
      @include position(relative, 0 null null null);
    }
  }
}
section{
  span{
    @extend .dolphinpictures;
    span{
      @extend .bottom;
    }
  }
  #hector{
    background-image: url("../images/rainbow.jpg");
    @media screen and (max-width: 320px){
      width: 280px;
      @include margin(20px 20px 20px 20px);
    }
  }
  #black{
    background-image: url("../images/dolphin smiling.jpg");
    @media screen and (max-width: 320px){
      width: 280px;
      @include margin(20px 20px 20px 20px);
    }
  }
  #commersons{
    background-image: url("../images/dolphins.jpg");
    @media screen and (max-width: 320px){
      width: 280px;
      @include margin(20px 20px 20px 20px);
    }
  }
  #heaviside{
    background-image: url("../images/dolphin-flying.jpg");
    @media screen and (max-width: 320px){
      width: 280px;
      @include margin(20px 20px 20px 20px);
    }
  }
}
footer{
  p{
    @include margin(0 auto null null);
    font-family: Times;
    font-size: 15px;
    color: grey;
    text-align: center;
  }
  nav{
      float: right;
      list-style: none;
      text-decoration: none;
    li{
      display: inline-block;
      @include margin(null 20px null null);
      @media screen and (max-width: 320px){
        float: left;
        text-align: center;
        width: 32%;
        text-decoration: none;
        color: white;
      }
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
}
