
body {
margin: 0 auto;
width: 100%;
}

* {
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
      box-sizing: border-box;
}

#left-header {
float:left;
font-size:20px;
font-family: Oswald;
color:black;
margin: 0 0 0 40px;
}

#right-header{
float:right;
font-size: 20px;
font-family: Oswald;
color: black;
margin: 0 40px 0 0;
}

header{
height: 500px;
width: 100%;
margin:0 10px 0 10px;
background-image: url("images/beautiful.jpg");
background-size: cover;
}

header h1 {
font-family: Oswald;
font-size: 80px;
color: white;
text-align: center;
margin: 100px auto;
width: 1000px;
}

#popular{
font-family: Oswald;
font-size: 60px;
color: black;
text-align: center;
}

#popular p{
text-align: center;
margin-top: 365px;
}

#hector {
display: inline-block;
height: 300px;
width: 25%;
margin: 0;
opacity: 0.5;
float: left;
background-size: cover;
background-image: url("images/dolphin-flying.jpg");
}

#footer-nav{
margin-top: -170px;
margin-left: 400px;
}

#section-heading{
color: blue;
text-transform: underline;
margin-top: 32px;
float: right;
margin-right: 130px;
}

nav{
position: relative;
top: 170px;
left: 450px;
list-style: inline;
}

aside nav li a{
color: gray;
display: inline;
text-decoration: none;
}
#black{
display: inline-block;
height: 300px;
width: 25%;
margin: 0;
opacity: 0.5;
float: left;
background-size: cover;
background-image: url("images/dolphin smiling.jpg");
}

#commersons{
display: inline-block;
height: 300px;
width: 25%;
margin: 0;
opacity: 0.5;
float: left;
background-size: cover;
background-image: url("images/dolphins.jpg");
}

article{
font-size: 15px;
font-family: Oswald;
}

#heaviside{
display: inline-block;
height: 300px;
width: 25%;
margin: 0;
opacity: 3.5;
background-size: cover;
float: left;
background-image: url("images/rainbow.jpg");
}

footer{
position: relative;
bottom: -300px;
width: 100%;
height: 100px;
background-color: #003366;
margin-bottom: 0;
}

#IYA{
color: black;
font-size: 10px;
font-family: Oswald;
}

#copy{
margin: -40px auto;
font-family: Times;
font-size: 15px;
color: grey;
text-align: center;
}

#section{
width: 35%;
float: left;
margin-left: 100px;
}

#quote{
font-size: 50px;
font-family: Arial;
color: darkblue;
}

.right{
float:right;
width: 25%;
margin-right: 125px;
padding-bottom: 10px;
margin-top: 0px;
font-family: Oswald;
}

#ref{
font-size: 10px;
font-family: Impact;
color: darkblue;
}

#advert{
margin-top: 100px;
margin-left: 400px;
}

#ad{
margin-left: 513px;
}

.img2{
border-radius: 50%;
margin-right: 200px;
margin-top:50px;
float:right;
border: solid black 3px;
}

#comment-bar{
  width: 400px;
  height: 20px;
}

.img3{
border-radius: 50%;
margin-right: 0 50px;
float: left;
}

.love{
font-size: 41px;
font-family: Oswald;
}

.loves{
font-size: 10px;
float: left;
margin-top: 19px;
}

#spann{
color: blue;
}

.bottom{
color: black;
position: relative;
bottom: -200px;
font-family:Oswald;
font-size:30px;
}

.bottomm{
color: white;
position: relative;
bottom: -200px;
font-family:Oswald;
font-size:30px;
}

/*MOBILE DEVICE CSS PROPERTIES*/

@media screen and (max-width: 320px){

footer {
  position: relative;
  bottom: -1400px;
  height: 300px;
  margin: 0 0 0 0;
}

#left-header{
  margin: 0 0 0 0px;
  display: none;
}

#right-header{
  margin: 0 0 0 0px;
  text-align: center;
  float: none;
}

header{
    height: 150px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    background image: url("images/beautiful.jpg");
}

header h1 {
  color: white;
  margin-top: 53px;
  margin-left: 35px;
  font-size: 30px;
  text-align: center;
  width: 80%;
}

#popular{
  font-size: 30px;
}

#hector{
  width: 280px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 1;
}

#section-heading{
  margin-right: 30px;
  display: none;
}

nav{
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

#blah li{
  margin: 0 5px;
  float: left;
  list-style: none;
}

#black{
  width: 280px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 1;
}

#commersons{
  width: 280px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 1;
}

#heaviside{
  width: 280px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 1;
}

footer {
  position: relative;
  bottom: -1400px;
  height: 300px;
  margin: 0 0 0 0;
}

#IYA {
  margin: 0 auto;
  float: left;
  color: black;
  font-size: 10px;
}

#section{
  margin-left: 10px;
  width: 75%
}

#quote{
  font-size: 30px;
  font-family: Oswald;
}

.right {
  float: left;
  width: 1px;
  height: 1px;
  margin-right: 0;
  display: none;
}

#ref{
  text-align: center;
}

#advert{
  width: 280px;
  margin-top: 100px;

  margin-left: 20px;
}

#ad {
  text-align: left;
  text-decoration: underline;
  color: grey;
  margin-left: 200px;
}

.img2{
  margin-right: 130px;
}

#comment-bar{
  width: 200px;
}

.img3{
  display: none;
}

.love{
  font-size: 30px;
  width: 75%;
  margin: 0 0 0 0px;
}

br {
  display: none;

}

.loves {
  float: none;
  color: grey;
  text-transform: underline;
}

#spann{
  color: grey;
}

#footer-nav{
  float: left;
  list-style: none;
  display: inline-block;
  margin-left: 50px;
  margin-top: -1200px;
  color: white;
  text-decoration: none;
}

#copy{
  color: white;
}

#footer-nav li{
  float: left;
  text-align: center;
  width: 32%;
  text-decoration: none;
  color: white;
}

}
